__name__ = "baseussecurity.tweak"
__version__ = "0.1.0"
__author__ = "Antigravity"
__description__ = "Adds secondary camera overlay on camera view"
__depends__ = ""
__section__ = "Tweaks"
__maintainer__ = "jakef"
__architecture__ = "arm64"
__package__ = "com.antigravity.baseussecurity.tweak"
__debname__ = "baseussecurity-tweak"
__postinst__ = ""
__prerm__ = ""
